.title{
    font-family: 'Origen';
    font-size: clamp(4rem, 2.5638rem + 5.3691vw, 6rem);
    background: -webkit-linear-gradient(#fbea71, #d4b42c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    line-height: 110px;
}

.text{
    color: white;
    width: 80%;
    text-align: center;
    font-size: clamp(0.8rem, 0.5128rem + 1.0738vw, 1.2rem);
}

.about_container{
    display: grid;
    grid-template-columns: 30% 70%;
    width: 80%;
    margin-top: 50px;
    gap: 20px;
}

.about_text{
    color: white;
    letter-spacing: 1px;
    font-weight: 300;
    width: 99%;
    font-size: clamp(0.8rem, 0.6943rem + 0.3953vw, 1.05rem);
}

.about_container_reverse{
    display: grid;
    grid-template-columns: 70% 30%;
    width: 80%;
    margin-top: 50px;
    gap: 20px;
    margin-bottom: 50px;
}

.map {
    position: relative;
    aspect-ratio: 5/4;
}

.banner {
    position: relative;
    height: auto;
    width: 100%;
    aspect-ratio: 2813/594;
}

@media screen and (max-width: 428px) {
    .about_container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 85%;
        gap: 20px;
        place-items: center;
    }

    .about_container_reverse{
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap-reverse;
        width: 85%;
    }

    .about_text{
        text-align: center;
    }
}