.container{
    width: 100%;
    height: 100%;
}

#bsMap{
    border:1px solid red;
}

.video-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;

}

.connect_button{
    font-size: 1.3rem;
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #d4b42c;
    color: black;
    font-family: 'Piilani';
    border-radius: 10px;
}

.container1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.adventure_container{
    display: flex;
    justify-content: center;
    flex: wrap;
    overflow-y: auto;

}

.proceed_button{
    font-size: 1.3rem;
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #d4b42c;
    color: black;
    font-family: 'Piilani';
    border-radius: 10px;
}

.title {
    font-family: 'Origen';
    font-size: clamp(3rem, 4.5771rem + 1.581vw, 4rem);
    background: -webkit-linear-gradient(#fbea71, #d4b42c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    line-height: 110px;
    margin-bottom: 40px;
}

.text{
    width: 90%;
    margin: 0 auto;
    font-weight: 500;
    font-size: clamp(0.875rem, 0.7164rem + 0.5929vw, 1.25rem);
    color:rgb(29, 29, 29);
    margin-top: 1rem;
    text-align: center;
}


