.container{
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
}

.title{
    text-align: center;
    font-size: clamp(1.5rem, 0.2385rem + 4.2763vw, 3.125rem);
    font-weight: 800;
    margin: 0;
    margin-bottom: 20px;
}

.faq_container{
    padding: 20px;
}

.question{
    padding: 20px;
    border-radius: 10px;
    background-color: black;
    margin: 3px;
    cursor: pointer;
}

.question_text{
    color: white;
    margin: 0;
    font-weight: 700;
}

.answer_text{
    padding: 20px;
    margin: 0;
    letter-spacing: 0.5px;
}

.answer_text {
    white-space: pre-line;
    font-weight: 500;
    color: rgb(41, 41, 41);
}

.down{
    color: white;
    float: right;
}

@media screen and (max-width: 428px) {
    .container{
        width: 100%;
    }

    .faq_container{
        padding: 0;
    }
}