.container{
    background-color: black;
    display: grid;
    gap: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center; 
    padding: 20px;
}

.title{
    color: white;
    font-size: clamp(1.125rem, 0.6398rem + 1.6447vw, 1.75rem);
    display: grid;
}

.social{
    font-size: clamp(1rem, 0.8059rem + 0.6579vw, 1.25rem);
    display: grid;
    grid-template-columns: repeat(2, 40px);
    place-content: center;
}