.container{
    background-color: black;
    display: grid;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    margin-top: 50px;  
}

.title{
    color: white;
    font-size: clamp(1.125rem, 0.6398rem + 1.6447vw, 1.75rem);
    display: grid;
}

.social{
    font-size: clamp(1rem, 0.8059rem + 0.6579vw, 1.25rem);
    margin-bottom: 0.5rem;
    display: grid;
    grid-template-columns: repeat(3, 40px);
    place-content: center;
}

.thanks_text{
    font-size: clamp(0.75rem, 0.5559rem + 0.6579vw, 1rem);
}