.title {
    font-family: 'Origen';
    font-size: clamp(4rem, 2.5638rem + 5.3691vw, 6rem);
    background: -webkit-linear-gradient(#fbea71, #d4b42c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    line-height: 110px;
}

.text{
    color: white;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.supply_price{
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-top: 20px;
}

.supply_title{
    color: #d4b42c;
    font-weight: 800;
    text-align: center;
}

.supply_text{
    color: white;
    text-align: center;
}

.supply_subtext{
    color: white;
    text-align: center;
}

.mint_card_button{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    place-items: center;
    justify-content: center;
    margin-top: 20px;;
}

.mint_card{
    text-align: center;
    justify-content: center;
    align-content: center;
    display: flex;
    margin-bottom: 50px;
}

.mintbutton{
    background-color: white;
    color: black;
    padding: 10px 50px 10px 50px;
    font-size: 1.5rem;
    font-weight: 800;
    border-radius: 15px;;
}

.mint-animation {
    width: 300px;
    height: 300px;
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
  }

  .minusbutton,
  .incrementbutton{
    background-color: transparent;
    color: white;
    font-weight:900;
    font-size: 2rem;
  }

  .plus,
  .minus{
    
  }

  .number{
    color: white;
    font-weight: 900;
    font-size: 4rem;
  }
  
  .mint-animation .mint-animation-gif {
    z-index: -10;
    border-radius: 8px;
    overflow: hidden;
  }

  .totalcost{
    text-align: center;
    margin-bottom: 10px;
  }


  @media screen and (max-width: 428px) {
    .title{
        line-height: 60px;
    }

    .supply_subtext{
        width: 90%;
        margin: 0 auto;
        margin-top: 20px;;
    }

    .mintbutton{
        width: 90%;
        padding: 5px 30px 5px 30px;
    }
}
