.container{
  width: 90%;
  margin: 0 auto;
  max-width: 1035px;
  margin-bottom: 70px;
}

.header{
  display: flex;
  color: white;
  gap: 28px;
}

.name {
  margin: 0;
  font-weight: 900;
  font-size: clamp(2rem, 1.3127rem + 2.5692vw, 3.625rem);
}

.owner{
  margin: 0;
  font-weight: 700;
  font-size: clamp(1rem, 0.8414rem + 0.5929vw, 1.375rem);
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  column-gap: 20px;
  row-gap: 20px;
}

.card {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.31);
}

.card-title {
  font-weight: 600;
  font-size: 1.2rem;
}

.container-title{
  margin: 0;
  font-weight: 800;
  letter-spacing: 1px;
  margin: 30px 20px 10px 20px;
  font-size: 2rem;
  color: white;
}

.card-example-text {
  font-style: italic;
  font-size: 0.8rem;
}

@media screen and (max-width: 700px) {
  .header {
    flex-flow: column-reverse;
  }

  .card-grid {
    overflow-y: auto;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}

@media screen and (max-width: 428px) {
  .card{
    padding: 20px 10px 20px 10px;
  }
}