/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*=============== VARIABLES CSS ===============*/
@font-face {
  font-family: "Alagard";
  src: url('./assets/alagard.woff') format('woff');
}

:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --hue: 0;
  --sat: 0%;
  --title-color: #ffffff;
  --title-color-dark: hsl(var(--hue), var(--sat), 0%);
  --text-color: hsl(var(--hue), var(--sat), 46%);
  --body-color: #352d58;;
  --container-color: #fff;

  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;

  /*.5rem = 8px | 1rem = 16px ...*/
  --big-font-size: 3.5rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;
  --tiny-font-size: 0.625rem;

  /*========== Font weight ==========*/
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes Bottom ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}


/*=============== BASE ===============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100vh;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background: url('./assets/BackgroundGradient.png');
  color: var(--text-color);
  background-size:cover;
  touch-action: none;
}

main{
  background: url('./assets/TheCucumbTower.png');
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: center 230px;
  ;
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 6rem 0 2rem;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: 4rem;
}

.section__title,
.section__subtitle {
  text-align: center;
}

/*=============== LAYOUT ===============*/
.container {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/*=============== BUTTONS ===============*/
.button {
  display: inline-block;
  background-color: var(--title-color);
  color: var(--container-color);
  padding: 1.25rem 2rem;
  border-radius: 1rem;
  font-weight: var(--font-medium);
}

.button:hover {
  background-color: var(--title-color-dark);
}

.button__icon {
  margin-left: var(--mb-0-5);
}

.button--flex {
  display: inline-flex;
  align-items: center;
}


#canvas {
  display: block;
  margin: 0;
  color: white;
  max-width: 800px;
  max-height: 600px;
  border: 20px solid black;
  border-radius: 20px;
  margin-top: -20px;
}

#canvas:focus {
  outline: none;
}

.godot {
  font-family: 'Noto Sans', 'Droid Sans', Arial, sans-serif;
  color: #e0e0e0;
  background-color: #3b3943;
  background-image: linear-gradient(to bottom, #403e48, #35333c);
  border: 1px solid #45434e;
  box-shadow: 0 0 1px 1px #2f2d35;
}


/* Status display
* ============== */

#status {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* don't consume click events - make children visible explicitly */
  visibility: hidden;
}

#status-progress {
  width: 366px;
  height: 7px;
  background-color: #38363A;
  border: 1px solid #444246;
  padding: 1px;
  box-shadow: 0 0 2px 1px #1B1C22;
  border-radius: 2px;
  visibility: visible;
}

@media only screen and (orientation:portrait) {
  #status-progress {
      width: 61.8%;
  }
}

#status-progress-inner {
  height: 100%;
  width: 0;
  box-sizing: border-box;
  transition: width 0.5s linear;
  background-color: #202020;
  border: 1px solid #222223;
  box-shadow: 0 0 1px 1px #27282E;
  border-radius: 3px;
}

#status-indeterminate {
  height: 42px;
  visibility: visible;
  position: relative;
}

#status-indeterminate > div {
  width: 4.5px;
  height: 0;
  border-style: solid;
  border-width: 9px 3px 0 3px;
  border-color: #2b2b2b transparent transparent transparent;
  transform-origin: center 21px;
  position: absolute;
}

#status-indeterminate > div:nth-child(1) { transform: rotate( 22.5deg); }
#status-indeterminate > div:nth-child(2) { transform: rotate( 67.5deg); }
#status-indeterminate > div:nth-child(3) { transform: rotate(112.5deg); }
#status-indeterminate > div:nth-child(4) { transform: rotate(157.5deg); }
#status-indeterminate > div:nth-child(5) { transform: rotate(202.5deg); }
#status-indeterminate > div:nth-child(6) { transform: rotate(247.5deg); }
#status-indeterminate > div:nth-child(7) { transform: rotate(292.5deg); }
#status-indeterminate > div:nth-child(8) { transform: rotate(337.5deg); }

#status-notice {
  margin: 0 100px;
  line-height: 1.3;
  visibility: visible;
  padding: 4px 6px;
  visibility: visible;
}

.Navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
  height: calc(var(--header-height) + 2.5rem);
 
}

.nav__container{
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}


.nav__logo{
  font-weight: var(--font-semi-bold);
  font-family: 'Alagard';
  font-size: 28px;
  color: #ffffff;
  cursor: pointer;
}

.nav__items{
  display: flex;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  transition: .3s;
}

.nav__items > a{
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
  margin: 15px;
  position: relative;
  opacity: 0.9;
  font-weight: var(--font-semi-bold);
}

a.active__link{
  color: #8444a0;

}

.nav__items > a:hover{
  opacity: 1;
  color: #8A9A5B;
}

.nav__items > a:hover::before{
  width: 100%;
}

.nav__toggle{
  display: none;
}


#skills{
  height: 100vh;
  margin-top: -30px;
}

.skills__container{
  grid-template-columns: repeat(1);
  justify-content: center;
  margin-top: -20px;
}

.footer{
  background-color: #221c41;
  left: 0;
  bottom: 0;
}

.footer__container{
  padding: 2rem 6rem;
}

.footer__name{
  cursor: pointer;
  color: gold;
  font-family: 'Alagard';
  font-size: 20px;
}

.footer__title,
.footer__link{
  color: var(--title-color);
}

.footer__title{
  text-align: center;
  font-size: 38px;
  margin-bottom: 10px;
  font-family: 'Alagard';
}

.footer__link:hover{
  color: var(--title-color-dark);
}

.footer__list{
  display: flex;
  justify-content: center;
  column-gap: 1.5rem;
  margin-bottom: var(--mb-2);
}

.footer__social{
  display: flex;
  justify-content: center;
  column-gap: 1.25rem;
}

.footer__social-link{
  background-color: #423583;
  color: var(--container-color);
  font-size: 1.125rem;
  padding: 0.4rem;
  border-radius: 0.5rem;
  display: inline-flex;
}

.footer__social-link:hover{
  background-color: var(--title-color-dark);
}

.footer__copy{
  display: block;
  margin-top: 1rem;
  color: var(--title-color);
  text-align: center;
  font-size: 16px;
}

.footer__copy1{
  display: block;
  margin-top: 0.25rem;
  color: var(--title-color);
  text-align: center;
  font-size: 16px;
}

.skill__title{
  display: none;
}


  @media screen and (max-width: 992px) {
    :root {
      --big-font-size: 2.75rem;
      --h1-font-size: 1.5rem;
      --h2-font-size: 1.25rem;
      --h3-font-size: 1rem;
      --normal-font-size: 0.938rem;
      --small-font-size: 0.813rem;
      --smaller-font-size: 0.75rem;
      
    }
  
    .container {
      margin-left: var(--mb-1-5);
      margin-right: var(--mb-1-5);
    }
  
    main{
      background: url('./assets/TheCucumbTower.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center 230px;
      height: 100vh;
    }
  
    .button {
      padding: 1rem 1.75rem;
    }
  
    .button__icon {
      width: 22px;
      height: 22px;
    }
    
    body {
      background: url('./assets/BackgroundGradient.png');
      color: var(--text-color);
      background-size:cover;
    }
  
    .nav__logo{
      margin-left: 20px;
    }
  
    .footer__social-link{
      padding: 0.25rem;
      border-radius: 0.25rem;
      font-size: 1rem;
  }

  .skill__title{
    display: none;
  }
  
  }
  
  @media screen and (max-width: 768px) {
    body {
      margin: 0 0 var(--header-height) 0;
      background: url('./assets/BackgroundGradient.png');
      color: var(--text-color);
      background-size: cover;
    }

    #canvas{
      margin-top: 50px;
      max-width: 600px;
      max-height: 450px;
    }
  
    main{
      background: url('./assets/TheCucumbTower.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center 230px;
    }
  
  
    .section {
      padding: 2rem 0 4rem;
    }
  
    .section__subtitle {
      margin-bottom: var(--mb-3);
    }
  
    .nav__logo{
      font-size: 23px;
  }

  .skill__title{
    display: none;
  }
  
  }
  
  @media screen and (max-width: 576px) {
    body {
      background: url('./assets/BackgroundGradient.png');
      color: var(--text-color);
      background-size:cover;
    }
  
    main{
      background: url('./assets/TheCucumbTower.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center 230px;
    }

    .skills__container{
      display: none;
    }

    .skill__title{
      font-family: 'Alagard';
      color: gold;
      font-size: 50px;
      text-align: center;
      margin-top: 10rem;
      justify-content: center;
      align-items: center;
      padding: 20px;
    }

    #skills{
      border: 1px solid green;
    }
  }
  
  @media screen and (max-width: 350px) {
    :root {
      --big-font-size: 2.25rem;
    }

    .skills__container{
      display: none;
    }

    .skill__title{
      font-family: 'Alagard';
      color: gold;
      font-size: 50px;
      text-align: center;
      margin-top: 10rem;
      justify-content: center;
      align-items: center;
    }
  
    .container {
      margin-left: var(--mb-1);
      margin-right: var(--mb-1);
    }
  
    body {
      background: url('./assets/BackgroundGradient.png');
      color: var(--text-color);
      background-size:cover;
    }
  
    main{
      background: url('./assets/TheCucumbTower.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center 230px;
    }

    .footer__title{
      display: flex;
      justify-content: center;
  }
    
  }
  